<div>These are Users</div>
<input type="text" class="form-control" (input)="onUpdateUser($event)" />
<div>
  {{ userName }}
</div>
<input type="text" class="form-control" [(ngModel)]="userName" />
<button
  class="btn btn-primary"
  [disabled]="!allowNewUser"
  (click)="onCreateUser()"
>
  Click Me
</button>
<div>
  {{ allowNewUser }}
</div>

<div>
  {{ userCreationStatus }}
</div>

<div *ngIf="userCreated; else noServer">
  User was created. The name is {{ userName }}
</div>

<ng-template #noServer>
  <div>User wasn't created</div>
</ng-template>

<div *ngFor="let user of users">{{ userName }}</div>
